/* Elements styles */

html {
    font-size: 18px;
    font-family: Alegreya Sans;
}

:root {
    --background-color-light: rgba(255, 252, 246, 0.6);
    --text-color-light: #000000;
    --background-color-dark: #3f5f6c;
    --text-color-dark: #ffffff;

    --footer-color: #284275;
    --footer-background: #c5cfdb;

    --hyperlink-color: #04a2d6;
    --hyperlink-hover: #ecdbad53;

    --project-color: #7e8da1;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
}

.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    --footer-color: #ffffff;
    --footer-background: #134150;

    --hyperlink-color: #5ad6ff;
    --hyperlink-hover: #e8bf5053;

    --project-color: rgb(203, 228, 255);
  }

p {
    text-align: justify;
  }

a {
    color: var(--hyperlink-color);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    background-color: var(--hyperlink-hover);
    cursor: pointer;
}

h3 {
    margin-top: 40px;
}


/* Header */

.header-container {
    /* width: 700px;
    /* position: relative; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background: lightblue; */ 
    margin-top: 40px;
    margin-bottom: 35px;
}

.title-container {
    /* position: absolute; */
    display: flex;
    /* flex-direction: row; */
    /* background-color: lightgreen; */
    justify-content: center;
    align-items: center;
    height: 50px;
}

.title-text {
    font-size: 36px;
    font-weight: 700;
}

.nav-container {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    /* margin-bottom: 30px; */
    /* padding-left: 60px; 
    padding-right: 60px; */
    display: flex;
    flex-direction: row;
    /* background-color: lightyellow; */
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.nav-item {
    text-align: center;
}

.nav-hover:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Footer */

footer {
    margin: 2rem 0 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: var(--footer-background);
    border-width: 0;
}

.socials-container {
    /* vertical-align: top; */
    max-width: 300px;
    margin: auto;
    /* margin-top: 100px; */
    /* margin-bottom: 40px; */
    /* margin-bottom: 30px; */
    /* padding-left: 60px; 
    padding-right: 60px; */
    display: flex;
    flex-direction: row;
    /* background-color: lightyellow; */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 2rem;
}

.footer-item {
    font-size: 26px;
    text-align: center;
    width: 10%;
    color: var(--footer-color);
}

.footer-icon {
    cursor: pointer;
    height: 1.8rem;
    vertical-align: middle;

}

.footer-icon:hover {
    height: 2rem;
    background-color: var(--footer-background);
}

.footer-item:hover {
    background-color: var(--footer-background);
    color: black;
    font-weight: bold;
}

/* About Section*/

.profile-pic {
    display: flex;
    width: 800px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    margin: auto;
    mask-image: linear-gradient(to top, transparent, #000 30%);
    margin-bottom: 25px;
}

.about-container {
    width: 600px;
    margin: auto;
}


/* Research Section */

.research-pic {
    display: flex;
    width: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: auto;
}

.research-pic-caption {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.research-container {
    width: 600px;
    margin: auto;
}

.project-name {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    color: var(--project-color);
}

.project-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .project-description {
    display: flex;
    justify-content: center; 
} */

.project-pic {
    width: 500px;
    /* aspect-ratio: 5 / 2; */
    /* object-fit: cover;  */
    border: 1.5px solid #305d87;
    margin-bottom: 15px;
}

.project-text {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Misc Section */

.misc-container {
    width: 600px;
    margin: auto;
}

.youtube-player {
    aspect-ratio: 12 / 7;
    margin: auto;
    display: block;
}

.fav-pic {
    width: 500px;
    aspect-ratio: 12 / 5;
    object-fit: cover;
    margin: auto;
    display: block;
    /* margin-bottom: 20px; */
}
