/* Elements styles */

html {
    font-size: 18px;
    font-family: Alegreya Sans;
}

body {
    margin: 0;
}

p {
    text-align: justify;
  }

a {
    color: #04a2d6;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    background-color: #fffced;
    cursor: pointer;
}

h3 {
    margin-top: 40px;
}


/* Header */

.header-container {
    /* width: 700px;
    /* position: relative; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background: lightblue; */ 
    margin-top: 40px;
    margin-bottom: 35px;
}

.title-container {
    /* position: absolute; */
    display: flex;
    /* flex-direction: row; */
    /* background-color: lightgreen; */
    justify-content: center;
    align-items: center;
    height: 50px;
}

.title-text {
    font-size: 36px;
    font-weight: 700;
}

.nav-container {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    /* margin-bottom: 30px; */
    /* padding-left: 60px; 
    padding-right: 60px; */
    display: flex;
    flex-direction: row;
    /* background-color: lightyellow; */
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.nav-item {
    text-align: center;
}

.nav-hover:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Footer */

footer {
    margin: 2rem 0 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #c5cfdb;
    border-width: 0;
}

.socials-container {
    /* vertical-align: top; */
    max-width: 300px;
    margin: auto;
    /* margin-top: 100px; */
    /* margin-bottom: 40px; */
    /* margin-bottom: 30px; */
    /* padding-left: 60px; 
    padding-right: 60px; */
    display: flex;
    flex-direction: row;
    /* background-color: lightyellow; */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 2rem;
}

.footer-item {
    font-size: 26px;
    text-align: center;
    width: 10%;
    color: #284275;
}

.footer-icon {
    cursor: pointer;
    height: 1.8rem;
    vertical-align: middle;
}

.footer-icon:hover {
    height: 2rem;
    background-color: #c5cfdb;
}

.footer-item:hover {
    background-color: #c5cfdb;
    color: black;
    font-weight: bold;
}

/* About Section*/

.profile-pic {
    display: flex;
    width: 800px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    margin: auto;
    mask-image: linear-gradient(to top, transparent, #000 30%);
    margin-bottom: 25px;
}

.about-container {
    width: 600px;
    margin: auto;
}


/* Research Section */

.research-pic {
    display: flex;
    width: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: auto;
}

.research-pic-caption {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.research-container {
    width: 600px;
    margin: auto;
}

.sarc-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-description {
    /* display: flex;
    justify-content: center; */
}

.project-pic {
    width: 500px;
    border: 2px solid #284275;
}

/* Misc Section */

.misc-container {
    width: 600px;
    margin: auto;
}

.youtube-player {
    aspect-ratio: 12 / 7;
    margin: auto;
    display: block;
}

.fav-pic {
    width: 500px;
    aspect-ratio: 12 / 5;
    object-fit: cover;
    margin: auto;
    display: block;
    /* margin-bottom: 20px; */
}